* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #dc143c;
    display: inline-block;
    width: 100%;
}

header li {
    float: right;
    padding: 15px;
    list-style-type: none;
}

main {
    max-width: 900px;
    min-width: 320px;
    margin: 0 auto;
}

.image img {
    width: 100%;
}

@media (max-width: 576px) {
    header {
        background-color: #DAF0FF;
        text-align: center;
    }

    header li {
        float: none;
    }
}